<html>
    <div id="consent">
    <p> Welcome! To participate, please read the information letter and fill in the consent form.<p>
    <h2>Information Letter</h2>
    <p>
        <b>Study Title</b>: Comparative Study of Humans and Computational Models in Natural Language Processing 
    </p>
    <p>
        <b>Faculty Supervisor</b>: Freda Shi, PhD, School of Computer Science, University of Waterloo. Phone: 1-312-576-8760, Email: fhs@uwaterloo.ca
    </p>
    <p>
        <b>Student Investigator</b>: Sheng Yao, Masters Student, School of Computer Science, University of Waterloo. Email: s57yao@uwaterloo.ca
    </p>
    <p>
        <b>Date</b>: Date: 23 Aug, 2025
    </p>
    <p>
        This letter explains what the study is about, possible risks and benefits, and your rights as a research participant. You may print/save a copy for your records. If you do not understand something in the letter, please ask one of the investigators before consenting to participate.
    </p>
    <p>
        <b>What is the study about?</b> You are invited to participate in a comparative research study of humans and computational models (such as ChatGPT, https://chat.openai.com) in processing natural language. The study will help us understand the similarities and differences in the performance on tasks involving natural language processing, and the insights from this research will facilitate safe and trustworthy usage of such computational language models in the future. We anticipate that the collected anonymous phonetic transcriptions will serve as part of the fundamental benchmark in evaluating language models. 
    </p>
    <p>
        <b>What does participation involve?</b> Participation in the study will consist of an online questionnaire that takes approximately 30 minutes. Your response will be audio recorded. Each question is independent of each other. With your permission, your response (in the form of anonymous phonetic transcripts) and the statistical results will be presented at scientific meetings or published in scientific journals.
    </p>
    <p>
        <b>Who may participate in the study?</b> To participate in the study, you need to be at least 18 years of age.
    </p>
    <p>
        <b>Is participation in the study voluntary?</b> Your participation in this study is voluntary. You may decline to answer any question(s) you prefer not to answer by skipping to the next question and may stop participating at any time by not submitting your responses and closing your web browser. However, withdrawal cannot be done once you complete the survey since the data will be stored anonymously.
    </p>
    <p>
        <b>Will I receive anything for participating in the study?</b> If you participate in this study, you will receive a 5 GBP payment through the Prolific platform. If you decide to stop participating early, please click through the “Continue” button to the end to receive a partial credit up to 5GBP at a rate of 0.16GBP per minute for the time you spend on the study.
    </p>
    <p>
        <b>What are the possible benefits of the study?</b> Participation in this study will not provide any direct personal benefit to you. Data from this study will contribute to the scientific understanding of computational language modeling techniques and facilitate the development of safe and trustworthy models in future work. 
    </p>
    <p>
        <b>What are the risks associated with the study?</b> There are no known or anticipated risks associated with participation in this study. If a question or the topic makes you uncomfortable, you can choose not to provide a response.
    </p>
    <p>
        <b>How is data collected, stored, and protected?</b> This questionnaire will not ask for your name or other identifying information. Removing your responses later is not possible because the researchers will have no way of identifying which responses are yours. This survey is hosted through the https protocol, which has multiple safeguards in place, although no Internet transmission is ever fully secure. Collected data will be securely stored on password-protected computers for at least 10 years. With your permission the data that you provide in this study, in the format of anonymous phonetic transcripts, may be shared in publications and academic presentations without any names or other identifying information. In addition, access to the anonymous phonetic transcripts may be shared with other researchers to reproduce our study upon request. 
    </p>
    <p>
        <b>Who is sponsoring/funding this study?</b> This study is funded by a project grant from the Natural Sciences and Engineering Research Council of Canada.
    </p>
    <p>
        <b>Has the study received ethics clearance?</b> This study has been reviewed and received ethics clearance through a University of Waterloo Research Ethics Board (REB 46648). If you have questions for the Board, contact the Office of Research Ethics, toll-free at 1-833-643-2379 (Canada and USA), 1-519-888-4440, or reb@uwaterloo.ca.
    </p>
    <p>
        <b>Who should I contact if I have questions regarding my participation in the study?</b> If you have any questions about this study or need more information before you decide whether to participate, please contact one of the researchers named above.
    </p>

    <p>
    <input type="checkbox" id="1" />
    I have read the information letter.
    </p>

    <p>
        By providing your consent, you are not waiving your legal rights or releasing the investigator(s) or involved institution(s) from their legal and professional responsibilities. 
    </p>
    <p>
    <input type="checkbox" id="2" />
    I agree to participate in this study.
    </p>

    <p>
    <input type="checkbox" id="3" />
     I agree to have my interview audio recorded.
    </p>

    <p>
    <input type="checkbox" id="4" />
     I agree to the use of anonymous quotations of phonetic transcripts in any paper or publication that comes from this research.
    </p>

    <p>
    <input type="checkbox" id="5" />
     I would like to review and approve my quotations before they are used as study results.
    </p>

    <p>
    <input type="checkbox" id="6" />
     I agree to allowing my study data to be used for future purposes as described in the information letter.
    </p>

    <button type="button" id="start">Start Experiment</button>
</div>

</html>